[submodule "src/mongodb_store"]
	path = src/mongodb_store
	url = https://github.com/strands-project/mongodb_store
[submodule "scr/ros-bridge"]
	path = scr/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
[submodule "src/ros-bridge"]
	path = src/ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
